@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.expC-Footer {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--clr-blue-bg);
  color: rgb(0, 0, 0);
}

/* variables personalizadas */
:root {
  --clr-white-bg: #F9F9F9;
  --clr-orange: #CC6233;
  --clr-green: #5EC96F;
  --clr-neutral-primary-grey: #323130; 
  --container-padding: 1.5rem;
  --fs-1: 96px;
  --fs-2: 60px;
  --fs-3: 48px;
  --fs-4: 34px;
  --fs-5: 24px;
  --fs-6: 20px;
  --fs-7: 16px;
  --fs-8: 14px;
  --fs-9: 12px;
  --fs-10: 10px;
}


/* estilos generales */
.expC-Footer a {
  text-decoration: none;
  color: var(--clr-bg-black);
}

.Footer-Logo {
  margin: 0 24px 0 0;
}

.expC-Footer .SectionsContainer {
  max-width: 60%;
  margin: 0 auto;
}

/* container padding */
.expC-Footer .container {
  display: flex;
  justify-content: space-between;
}


.toggle-scroll { /*para ponerle al body y que no se puede scrollear durante el nav abierto */
  overflow: hidden;
}

.toggle-and-logo {
  z-index: 1001;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 400ms ease-in-out;
}

.expC-Footer .toggle-icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.expC-Footer .legales {
  margin: auto auto;
  color: #86868B;
}


.expC-Footer .legales strong{
  color: #0078D4;
}

.expC-Footer hr {
  border: 1px solid #D2D2D7;
}

.expC-Footer .creadores {
  display: flex;
  justify-content: space-between;
}

.expC-Footer .flexEnd {
  align-self: flex-end;
}

.expC-Footer .toggle-icon span { /* para crear la barrita del medio del hamburguer menu */
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

.expC-Footer .toggle-icon.active span {
  opacity: 0;
}

.expC-Footer .toggle-icon::before, 
.toggle-icon::after { /*para crear los palitos del hamburguer menu */
  content: "";
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transition: transform 300ms ease-in-out;
}

.expC-Footer .toggle-icon::before {
  transform: translateY(-7px);
}
.expC-Footer .toggle-icon::after {
  transform: translateY(7px);
}

.expC-Footer .toggle-icon.active::before {
  transform: rotateZ(45deg);
}

.expC-Footer .toggle-icon.active::after {
  transform: rotateZ(-45deg);
}

/* footer */

.ExpCFooter {
    background-image: url("data:image/svg+xml,%3Csvg width='1366' height='400' viewBox='0 0 1366 400' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1366' height='400' fill='%23EFEFF0'/%3E%3Cpath opacity='0.8' d='M0 400H1366V183.425L1349.64 179.272L1320.09 159.611L1248.3 150.283L1210.29 116.119L1174.93 133.201L1149.06 120.255L1130.06 123.37L1098.93 91.7851L1081.75 104.865L1066.44 104.814L1042.43 92.187L1023.65 103.073L999.741 104.747L935.83 103.692L905.214 110.425L882.521 103.692L834.489 112.501L823.937 123.353L762.706 100.075L750.036 105.769L716.774 91.7851L660.307 129.064L641.832 123.353L609.099 150.283L566.361 136.818L493.314 69.1597L479.79 76.7796L463.962 93.8617L437.035 74.1838L421.206 83.9809L381.626 57.8553L351.745 67.9036H321.01L266.558 108.348L251.242 101.616L220.097 109.905L160.454 139.414L133.544 137.856L112.951 128.026L73.9006 158.573L0 185.485V400Z' fill='%23F7F7F8'/%3E%3Cpath opacity='0.8' d='M0 400H1366V317.548L1319.04 306.963L1279.68 277.387L1239.95 264.521H1220.52L1195.95 248.917L1161.85 227.467L1142.03 230.205L1115.08 254.375L1093.67 259.834L1065.12 252.041L1038.18 267.628L989.018 280.729L905.385 277.387L875.657 227.131L848.303 205.245L811.028 238.385L713.513 190.8L631.075 240.333L622.742 258.272L601.74 271.139L587.465 289.464L558.523 262.438L553.384 239.947L528.796 232.926L518.09 213.425L491.538 206.807L454.28 232.153L422.572 274.263L375.787 258.659L323.469 226.308L302.859 221.622L290.173 201.348L248.936 186.534L174.544 238.483L149.88 256.43L140.869 266.82L126.64 275.793L110.987 289.016L99.1299 300.351L86.7979 307.907L40.7903 317.548L19.9208 311.685L0 317.548V400Z' fill='%23FCFCFD'/%3E%3C/svg%3E");
}

.expC-Footer .footer-container {
  margin-top: 2rem;
  padding-block: 2rem;
  position: relative;
}

.expC-Footer .footer-container > svg {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 80px;
}

.expC-Footer .footer-section {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.expC-Footer .footer-titulo {
  font-size: var(--fs-5) !important;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #515154;
}
.expC-Footer .footer-section a {
  font-size: var(--fs-8);
  font-weight: 400;
  padding: 0.3rem;
  width: fit-content;
  transition: color 200ms ease-in-out;
  color: #515154;
}
.expC-Footer .footer-section a:hover {
  color: var(--clr-green)
}
.podcasts {
  display: none;
  margin: 0px 24px 24px 0;
}

.expC-Footer .redes-sociales > * {
  filter: brightness(0) saturate(100%);
  width: 30px;
}

.expC-Footer .redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expC-Footer .footer-sections {
  display: flex;
}

/* Celulares */
@media (max-width: 640px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-sections {
    flex-direction: column;
    align-self: flex-start;
  }

  .creadores {
    flex-direction: column;
  }

  .flexEnd {
    align-self: flex-start;
  }

  .Footer-Logo {
    margin: 0 0 24px 0;
  }

  .ExpCFooter {
    background-image: none;
    background: #FAFAFB;
  }

}

@media (min-width: 800px) {
  :root {
    --container-padding: 4rem;
  }
  .primary-navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem var(--container-padding);

  }
  .toggle-icon {
    display: none;
  }
  .toggle-and-logo {
    z-index: 1;
    padding: 0;
    width: min-content;
  }
  .redes-sociales-navbar {
    display: none;
  }
  .navbar-tabs {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
  }
  .navbar-tabs.active {
    display: flex;
  }
  .labels-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr; */
  }
  .label {
    all: unset;
    text-transform: uppercase;
    font-size: var(--fs-9);
    text-align: center;
    padding: 0.5rem 0;
    height: 100%;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 200ms ease-in-out;
  }



  /* footer */
  .footer-container > svg {
    margin: 0;
    position: static;
    left: var(--container-padding);
    width: 100px;
  }
  .podcasts {
    display: flex;
  }
  .footer-container {
    padding-block: 3.5rem;
    display: flex;
    gap: 40px;
  }
  .footer-section {
    max-width: 300px;
  }
  .redes-sociales {
    align-items: start;
    justify-content: start;
  }
}


@media (min-width: 850px) {
  :root {
    --container-padding: 2.5rem;
  }

}

@media (min-width: 1000px) {
  :root {
    --container-padding: 3rem;
  }
  .footer-container {
    grid-template-columns: 10% 50% 20% 10%;
  }
  .label {
    font-size: var(--fs-8);
    width: max-content;
  }
}

@media (min-width: 1200px) {
  .label {
    font-size: var(--fs-7)
  }
}